POSTGRES_HOST=""
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_PORT=""
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_CONSOLE_PORT="9001"
MINIO_USE_SSL="false"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET="dotgroup-images"
MINIO_REGION="us-east-1"
MINIO_URL_EXPIRY_SECONDS="3600"
UPLOAD_MAX_FILE_SIZE_BYTES="5242880"
